@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-5,100..900&family=League+Spartan:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
}
::-webkit-scrollbar{
    width: 0;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto 0;
}
.container{
    flex: 1;
    min-width: 100%;
    min-height: 100%;
}
header{
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
nav img{
    width: 100px;
    margin-right: 6rem;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav ul li a{
    font-size: 1.12rem;
    color: #ee3131;
    cursor: pointer;
}
nav ul li.active::after{
    content: '';
    display: flex;
    width: 50px;
    height: 3px;
    background-color: rgb(238, 49, 49);
    position: absolute;
    bottom: 20px;
    animation: appear  0.3s linear;
}
@keyframes appear {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}
.toggle_btn svg{
    width: 1.5rem;
    display: none;
    margin-right: 1rem;

}
.page-8{
    background: url(/images/Rectangle\ 21.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin: auto;
}

.page-8 h1{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 7rem;
    padding-top: 13rem;
}
main{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
}
main h3{
    padding-top: 2rem;
    padding-left: 12rem;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services ul{
    display: none;
}
.service-areas{
    display: flex;
    justify-content: space-between;
    gap: 7rem;
}
.service-offer{
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: pink;
    border-radius: 50%;
}
.service-offer img{
    width: 100px;
    margin: auto;
}
.service-unit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 1rem;
}
.service-unit h5{
    width: 12ch;
    text-align: center;
    color: rgb(238, 49, 49);
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero p{
    width: 135ch;
    margin: auto;
}
.operation-infrastructure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.operation h1{
    padding-bottom: 2rem;
    color: rgb(238, 49, 49);
}
.operation img{
    width: 100%;
}
.highlighted-infrastructure li{
    margin-left: 2.5rem;
    padding: 0.2rem;
}
.highlighted-infrastructure li::marker{
    color: rgb(238, 49, 49);
    font-size: 1.5rem;
}
.other-services{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.other-services h1{
    padding-left: 13rem;
    font-weight: 700;
    color: rgb(238, 49, 49);
}
.other-services .goods{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}
.method{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}
.method img{
    width: 100px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 1rem
    
}
.method .text h3{
    padding-left: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(238, 49, 49);
}
.method p{
    width: 40ch;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(238, 49, 49);
    padding: 2rem;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding: 2rem;
}
.footer-container h2{
    margin-bottom: 2rem;
}
.footer-container ul li a{
    color: #ffffff;
}
.footer-container ul li{
    list-style: none;
    margin-top: 0.5rem;
    padding: 0.2rem;
}
.footer-container .logo img{
    margin-bottom: 1rem;
}
.footer-container .contact{
    margin-bottom: 2rem;
}
footer .foot-text{
    text-align: center;
    color: #ffffff;
    margin-top: 2rem;
}

/*DropDown*/
.dropdown{
    display: none;
    position: absolute;
    left: 0;
    top: 4.2rem;
    width: 388px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 0.6rem;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown li{
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.dropdown li a{
    color: #ffffff;
}
.dropdown.open{
    height: 270px;
}

@media only screen and (max-width: 420px){
    .container{
        width: 26rem;
        margin: 0;
    }
    nav{
        width: 420px;
        margin: auto 0;
    }
    nav ul{
        display: none;
    }
    .toggle_btn svg{
        display: block;
    }
    .dropdown{
        width: 22rem;
        display: block;
        top: 5.2rem;
        left: 0;
        margin: auto;
    }
    .dropdown li{
        align-items: center;
    }
    .dropdown li:hover {
        background-color: #ee3131;
        border-radius: 10px;
    }
    main{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    main h3{
        padding-left: 1.5rem;
        width: 30ch;
    }
    .service-areas{
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
    }
    .service-unit{
        display: none;
        flex-direction: column-reverse;
    }
    .services ul{
        display: block;
    }
    .services ul li{
        padding: 0.2rem;
        font-size: 1.2rem;
    }
    .services ul li::marker{
        color: rgb(238, 49, 49);
        font-size: 1.5rem;
    }
    
    .hero p{
        width: 35ch;
    }
    .operation h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .operation img{
        width: 340px;
    }
    .highlighted-infrastructure{
        margin: auto;
    }
    .highlighted-infrastructure li{
        width: 35ch;
    }
    .method{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .method img{
        width: 50px;
        margin-top: 1.5rem;
    }
    .text p{
        width: 28ch;
    }
    .other-services h1{
        padding: 0;
        text-align: center;
    }
    .other-services .goods{
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 0;
    }
    .footer-container{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    
    .foot-text{
        width: 32ch;
        text-align: center;
        line-height: 1.2rem;
        margin: auto;
    }


}
