@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-5,100..900&family=League+Spartan:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'League Spartan', sans-serif;
}
::-webkit-scrollbar{
    width: 0;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto 0;
}

.container{
    flex: 1;
    min-width: 100%;
    min-height: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
nav img{
    width: 100px;
    margin-right: 6rem;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav ul li a{
    font-size: 1.12rem;
    color: #ee3131;
    cursor: pointer;
}
nav ul li.active::after{
    content: '';
    display: flex;
    width: 70px;
    height: 3px;
    background-color: rgb(238, 49, 49);
    position: absolute;
    bottom: 20px;
    animation: appear  0.3s linear;
}
 @keyframes appear {
    from {
        width: 0;
    }
    to {
        width: 70px;
    }
}
.toggle_btn svg{
    display: none;
    width: 1.5rem;
    margin-right: 1rem;

}
.tracking{
    background: url(/images/Rectangle\ 21.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.tracking-header h1{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 7rem;
    padding-top: 13rem;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 3rem;
    padding: 2rem;
}
.page-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.page-text p{
    width: 110ch;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(238, 49, 49);
    padding: 2rem;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding: 2rem;
}
.footer-container h2{
    margin-bottom: 2rem;
}
.footer-container ul li a{
    color: #ffffff;
}
.footer-container ul li{
    margin-top: 0.5rem;
    padding: 0.2rem;
}
.footer-container .logo img{
    margin-bottom: 1rem;
}
.footer-container .contact{
    margin-bottom: 2rem;
}
footer .foot-text{
    text-align: center;
    color: #ffffff;
    margin-top: 2rem;
}
/*DropDown*/
.dropdown{
    display: none;
    position: absolute;
    right: 2rem;
    top: 4.2rem;
    width: 388px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 0.6rem;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.dropdown li a{
    color: #ffffff;
}
.dropdown.open{
    height: 270px;
}

@media only screen and (max-width: 420px){
    .container{
        width: 26rem;
        margin: 0;
    }
    nav ul{
        display: none;
    }
    .toggle_btn svg{
        display: block;
    }
    .dropdown{
        width: 24rem;
        display: block;
        top: 5.2rem;
        left: 1rem;
        margin: auto;
    }
    .dropdown li{
        align-items: center;
    }
    .image img{
        width: 360px;
    }
    .page-text p{
        width: 35ch;
    }
    
    .footer-container{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    
    .foot-text{
        width: 32ch;
        text-align: center;
        line-height: 1.2rem;
        margin: auto;
    }
}
